/**
 * sass variables
 */

// base colors
$white: #ffffff;
$accent1: #eab300;
$accent2: #00d8b7;
$primary: #d3bb74;
$secondary: #387eb7;

// typography
$font-dark: #374045;
$font-light: #929fa8;

// gradient overlay
$left: $primary;
$right: $secondary;
$stop: #7db9e8;
